*, *:before, *:after {
   box-sizing: border-box;
   margin: 0;
   padding: 0;
   transition: all .3s ease;

}
p {
   margin-bottom: 1rem;
}
body {
   font-family: 'Lato', sans-serif;
   overflow-x: hidden;
}
body.nav-open {
   overflow: hidden;
}
.container {
   padding-left: 1rem;
   padding-right: 1rem;
}
.btn {
   text-decoration: none;
   text-transform: uppercase;
   padding: 1rem 2rem;
   font-size: 1rem;
   line-height: 1rem;
   background-color: #212121;
   color: #fff;
   display: inline-block;
   margin: .5rem;
   border: 2px solid #212121;
}
.btn.btn-outline {
   background-color: transparent;
   color: #212121;
}
.btn.btn-light {
   background-color: #fefefe;
   border-color: #fefefe;
   color: #212121;
}
.btn.btn-outline-light {
   border-color: #fefefe;
   background: transparent;
   color: #fefefe;
}
.btn:hover {
   color: #212121;
   background: transparent;
}
.btn.btn-outline:hover {
   color: #fff;
   background: #212121;
}
.btn.btn-light:hover {
   background-color: transparent;
   color: #fff;
}
.btn.btn-outline-light:hover {
   background: #fefefe;
   color: #212121;
}
.text-dark {
   color: #212121 !important;
}
.text-center {
   text-align: center;
}
.img-fluid {
   height: auto;
   max-width: 100%;
}
.header-navbar {
   position: sticky;
   top: 0;
   width: 100%;
   background: #fff;
   box-shadow: 2px 0px 5px rgba(0,0,0,.1);
   z-index: 98;
}
.header-navbar .container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 15px;
}


.header-navbar .navbar-navigation ul {
   padding: 0;
   list-style: none;
   text-align: center;
}
.header-navbar .navbar-navigation ul li a {
   padding: 0 15px;
   font-size: 15px;
   text-decoration: none;
   letter-spacing: 1px;
   font-weight: 600;
   text-transform: uppercase;
   color: rgba(0,0,0,.5);
}
.header-navbar .navbar-navigation ul li a.active {
   color: #111;
}
.header-navbar .navbar-navigation ul li:last-of-type a {
   padding-right: 0;
}
.slider-wrapper {
   height: 700px;
   position: relative;
}
.slider-wrapper .slider-image {
   height: 700px;
   width: 100%;
   object-fit: cover;
   position: absolute;
   top: 0;
   left: 0;
}
.slider-content {
   position: relative;
   color: #ffffff;
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   padding: 10vh 10vw;
}
.slider-content h1 {
   font-size: calc(24px + 2vw);
   text-transform: uppercase;
   letter-spacing: 2px;
   font-weight: 900;
}
.slick-dots {
   position: absolute;
   z-index: 10;
   bottom: 8%;
   display: block;
   width: 100%;
   padding: 0;
   margin: 0;
   list-style: none;
   text-align: center;
}
.slick-dots li {
   position: relative;
   display: inline-block;
   width: 15px;
   height: 15px;
   margin: 0 5px;
   padding: 0;
   cursor: pointer;
   background-color: transparent;
   border-radius: 50%;
   border: 2px solid rgb(161, 161, 161)
}
.portfolio-wrapper .slick-dots li {
   border-color: #222
}
.slick-dots li.slick-active {
   background-color: rgb(161, 161, 161)
}
.slick-dots li button {
   font-size: 0;
   line-height: 0;
   display: block;
   width: 20px;
   height: 20px;
   padding: 5px;
   cursor: pointer;
   color: transparent;
   border: 0;
   outline: none;
   background: transparent;
}
.section-title {
   font-size: calc(2vw + 1rem);
   font-weight: 600;
   text-transform: uppercase;
   position: relative;
   margin-bottom: 30px;
}
.section-title:after {
   width: 60px;
   height: 3px;
   background: #111;
   position: absolute;
   left: 50%;
   bottom: -10px;
   transform: translateX(-50%);
   content: '';
}
.section-subtitle {
   font-size: 1.2rem;
   font-weight: 300;
   margin-bottom: 2rem;
}
.small-title {
   font-size: 1.5rem;
   font-weight: 700;
   text-transform: uppercase;
   margin-bottom: 1rem;
}
#about-us {
   margin-top: 4rem;
   margin-bottom: 4rem;
}
.about-us-wrapper {
   background: #eeeeee;
   margin-bottom: 1rem;
}
.about-us-wrapper:nth-child(odd) {
   padding: 2rem;
}
.about-us-wrapper img {
   height: 250px;
   width: 100%;
   object-fit: cover;
}
.portfolio-wrapper {
   padding: 0 5px;
}
#homepage-blog .title-wrapper {
   margin: 3rem 0 2rem;
}
#homepage-blog .blog-wrapper {
   margin-bottom: 1rem;
}
#homepage-cta {
   padding: 100px 0;
   background: url(https://images.unsplash.com/photo-1502239608882-93b729c6af43?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80);
   background-attachment: fixed;
   margin-top: 4rem;
}
#homepage-cta h2 {
   color: #fff;
   font-size: calc(20px + 2vw);
   font-weight: 900;
   text-transform: uppercase;
   letter-spacing: 2px;
   margin-bottom: 20px;
}
footer {
   background-color: #121212;
   padding-top: 50px;
   color: #fff
}

footer .copyright {
   border-top: 1px solid #212121;
   margin-top: 50px;
   font-size: 12px;
   color: #fff;
   padding: 1rem 0;
}
footer address span, footer address a {
   font-size: 16px;
   color: #eee;
   margin-bottom: 8px;
   font-style: normal;
}
footer address a {
   text-decoration: none;
}
footer .nav {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   height: 100%;
}

footer .nav.social-links {
   flex-direction: row;
}
.social-links a {
   padding: 10px;
   text-decoration: none;
   color: #eee;
   text-transform: uppercase;
   font-weight: 600;
   font-size: 14px;
   letter-spacing: 1px;
}
.social-links a:hover {
   color: #ccc;
}
.footer-description {
   font-size: 14px;
   margin-top: 1rem;
}
@media screen and (min-width: 375px) {
   
}

@media screen and (min-width: 414px) {
   
}

@media screen and (max-width: 768px) {
   #nav-toggle {
      position: absolute;
      right: 20px;
      top: 35px;
      width: 35px;
      height: 3px;
      background: #212121;
      z-index: 15;
      transition: all .5s ease;
   }
   #nav-toggle:before, #nav-toggle:after {
      content: '';
      width: 35px;
      height: 2px;
      background: #212121;
      position: absolute;
   }
   #nav-toggle:before {
      bottom: -10px;
   }
   #nav-toggle:after {
      bottom: -20px;
   }
   #nav-toggle.open {
      transform: rotate(45deg);
   }
   #nav-toggle.open:before {
      transform: rotate(90deg) translateX(-10px);
      
   }
   #nav-toggle.open:after {
      opacity: 0;
   }
   
   .header-navbar .navbar-navigation {
      position: fixed;
      top: 0;
      right: 0;
      height: 100vh;
      background: #fff;
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 15vh 30px;
      opacity: 0;
      transform: translateX(-1000px);
      transition: all .5s ease;
   }
   .header-navbar .navbar-navigation.open {
      opacity: 1;
      transform: translateX(0px);
   }
   .header-navbar .navbar-navigation ul li a {
      font-size: 24px;
      display: block;
      margin-bottom: 2rem;
   }
}


@media screen and (min-width: 768px) {

   .header-navbar .navbar-navigation ul {
      display: flex;
      padding: 0;
      list-style: none;
   }
   .slider-content {
      align-items: center;
      text-align: center;
      padding: 10vh 20vw;
   }
   .about-us-wrapper {
      height: 250px;
   }
   #about-us {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-template-rows: repeat(4, auto);
      column-gap: 15px;
      row-gap: 15px;
   }
   #about-us .about-us-wrapper:first-child {
      grid-column: 1 / 3;
   }
   #about-us .about-us-wrapper:nth-child(4) {
      grid-row: 3/4;
   }
   #about-us .about-us-wrapper:nth-child(5) {
      grid-row: 3/4;
      grid-column: 1/2;
   }
   .portfolio-wrapper {
      padding: 0 40px;
   }
   #homepage-blog {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 15px;
   }
   #homepage-blog .title-wrapper {
      grid-column: 1 / 4;
   }
   .container {
      max-width: 700px;
      margin: 0 auto;
   }
   
}

@media screen and (min-width: 992px) {
   .container {
      max-width: 900px;
   }
   .nav-item {
      padding: 0 1.2rem;
   }
   #about-us {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, auto);
      column-gap: 15px;
      row-gap: 15px;
   }
   #about-us .about-us-wrapper:nth-child(4),
   #about-us .about-us-wrapper:nth-child(5)  {
      grid-row: 2/3;
   }
   #about-us .about-us-wrapper:nth-child(6) {
      grid-column: 4/5;
   }
   #about-us .about-us-wrapper:last-child {
      grid-column: 3/4;
      grid-row: 2/3
   }


   footer .three-grid {
      display: grid;
      grid-template-columns: 40% 25% 35%;
      column-gap: 20px;
   }
}

@media screen and (min-width: 1200px) {
   .container {
      max-width: 1000px;
   }
   
}

@media screen and (min-width: 1400px) {
   .container {
      max-width: 1200px;
   }
   
}

@media screen and (min-width: 1600px) {
   
}
